body{
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}
.welcomeScreen{
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  align-items: center;
  h1{
      font-size: 70px;
      line-height: 2vw;
  }
  p{
      width: 70%;
      font-size: 20px;
      line-height: 28px;
      text-align: center;
      margin-bottom: 2vw;
  }
  input{
      width: 417px;
      height: 54px;
      margin-bottom: 5vw;
      padding: 0 25px;
      border: 1px solid #000000;
      border-radius: 27px; 
      font-size: 18px;
      &::placeholder{
         font-size: 18px;
          line-height: 25px;
          color: rgba(0, 0, 0, 0.35);
      }
      &:focus{
          outline: none;
          box-shadow: 0 0 3px #000000;
      }
  }
  button{
      display: block;
      margin: 0 auto;
      position: relative;
      width: 199px;
      height: 54px;
      color: #fff;
      background: #000000;
      border-radius: 27px;
      outline: none;
      cursor: pointer;
      border: none;
      font-weight: 500;
      font-size: 18px;
      line-height: 21px;
      text-align: center;
      &:before {
          content: '';
          position: absolute;
          border: white solid 2px;
          border-radius: 27px;
          top: 4px;
          left: 4px;
          right: 4px;
          bottom: 4px;
          opacity: 0;
          transition-duration: 0.3s;
          transition-property: opacity;
      }
      &:hover::before{
          opacity: 1;
      }

  }

}

.iconWrap{
  width: 200px;
  height: 200px;
  background-color: #F5DCDB;
  text-align: center;
}

.tami-list{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.add-new{
  position: relative;
  width: 211px;
  height: 54px;
  margin: 0.5vw;
  color: #fff;
  background: #000000;
  border-radius: 27px;
  font-weight: 500;
  outline: none;
  border: none;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  cursor: pointer;
  &:before {
    content: '';
    position: absolute;
    border: white solid 2px;
    border-radius: 27px;
    top: 4px;
    left: 4px;
    right: 4px;
    bottom: 4px;
    opacity: 0;
    transition-duration: 0.3s;
    transition-property: opacity;
  }
  &:hover::before{
      opacity: 1;
  }
}
.action-menu{
  display: flex;
  width: 55vw;
  margin: 5vw auto;
  justify-content: center;
  flex-wrap: wrap;
}
.circle-btn{
  width: 54px;
  position: relative;
  height: 54px;
  margin: 0.5vw;
  margin-bottom: 2vw;
  background: #000000;
  border-radius: 27px;
  outline: none;
  border: none;
  cursor: pointer;
  &:before {
    content: '';
    position: absolute;
    border: white solid 2px;
    border-radius: 27px;
    top: 3px;
    left: 3px;
    right: 3px;
    bottom: 3px;
    opacity: 0;
    transition-duration: 0.3s;
    transition-property: opacity;
  }
  &:hover::before{
      opacity: 1;
  }
  &:hover .hint{
    display: block;
  }
  &::after{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-repeat: no-repeat;
    background-position: center;
  }
}
.feed-btn{
  &::after{
    background-image: url(./bg/food-w.svg);
  }
}
.cure-btn{
  &::after{
    background-image: url(./bg/health-w.svg);
  }
}
.kill-btn{
  &::after{
    content: 'X';
    line-height: 20px;
    color: #fff;
  }
  &:hover::after{
    color: red;
  }
  &:hover::before{
    border-color: red;
  }
}
.sleep-btn{
  &::after{
    background-image: url(./bg/sleep-w.svg);
  }
}
.sleeping-btn{
  &::after{
    background-image: url(./bg/Zz.svg);
  }
}
.fun-btn{
  &::after{
    background-image: url(./bg/fun-w.svg);
  }
}
.teach-btn{
  &::after{
    background-image: url(./bg/teach.svg);
  }
}
.walk-btn{
 &::after{
    background-image: url(./bg/walk-w.svg);
  }
}
.circle-btn.disabled{
  background: rgba(0, 0, 0, 0.15);
  cursor: auto;
  &:hover::before{
    opacity: 0;
  }
}
.hint{
  display: none;
  position: absolute;
  bottom: -50%;
  left: 50%;
  transform: translateX(-50%);
  background: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  border: 4px solid #fff;
  padding: 0 0.5rem;
  border-radius: 5px;
}

.hint:after, .hint:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.hint:after {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #fff;
	border-width: 5px;
	margin-left: -5px;
}
.hint:before {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #fff;
	border-width: 11px;
	margin-left: -11px;
}
ul{
  margin: 0;
  padding: 0;
}
li{
  list-style: none;
}
.tami{
 position: relative; 
 width: 25%;
 margin-bottom: 2vw;
 min-width: 100px;
 height: calc(100vw / 4);
 min-height: 100px;
 color: #000;
 font-weight: 500;
 //overflow: hidden;
 top: 5%;font-size: 1.5vw; 
 cursor: pointer;
 &:nth-child(5n+1){
     background-color: #F5DCDB; 
 }
 &:nth-child(5n+2){
     background-color: #C9D4F9;
 }
 &:nth-child(5n+3){
     background-color: #defde0;
 }
 &:nth-child(5n+4){
     background-color: #f0defd;
 }
 &:nth-child(5n+5){
     background-color: #fcf7de;
 }

 img{
     display: block;
     width: 70%;
     margin: 0 auto;
       //    position: absolute;
  //    left: 0;
  //    top: -10%;
 }
}
.tami-name{
  position: absolute;
  left: 5%;
  top: 5%;
  width: 45%;
  overflow: hidden;  
}
.tami-time{
  position: absolute;
  right: 5%;
  top: 5%; 
}
.indicators{
  position: absolute;
  width: 100%;
  margin: 0;
  padding: 0;
  bottom: 5%;
  display: flex;
  justify-content: space-around;
  justify-content: none;
  li{
    width: 20%;
    list-style: none;
    position: relative;
    color: #000;
    text-align: center;
    &::before{
        content: " ";
        position: absolute;
        width: 100%;
        height: 100%;
        top: -120%;
        left: 50%;
        transform: translate(-50%, 0%);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;  
    }
  }
}
.health::before{
background-image: url(./bg/health.svg);
}
.fullness::before{
  background-image: url(./bg/food.svg);
}
.happiness::before{
  background-image: url(./bg/happiness-bl.svg);
}
.wisdom::before{
  background-image: url(./bg/teach-b.svg);
}
.workout::before{
  background-image: url(./bg/walk-b.svg);
}
.tami.active{
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.07);
}
@media (max-width: 576px) {
  .welcomeScreen{
    width: 90%;
    input{
      width: 80%;
    }
    p{
      width: 90%;
    }
  }
  .circle-btn{
    margin-bottom: 8vw;
  }
  .action-menu{
    width: 90%;
  }
  .tami{
    width: 80%;
    height: 80vw;
    font-size: 1rem;
  }
  
 }
.escape{
  position: relative;
  animation-name: example;
  animation-duration: 7s;
  animation-delay: 2s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
  z-index: 100;
} 

@keyframes example {
  0% {
    transform: translateX(0);
    width: 70%;
  }
  100% {
    transform: translateX(1000px); 
    width: 0; 
  }
}
